body {
    font-family: Helvetica, sans-serif;
    background-color: #f4f4f4;
}

header {
    width: 100%;
    overflow: auto; 
}
aside {
    width: 100%;
}
aside th, aside td {
    text-align: left;
}
aside th {
    font-size: 16px;
    text-decoration: underline;
}
aside td {
    font-size: 14px;
}

section {
    width: 100%;
}


header h1  {
    color: darkmagenta;
    font-size: 30px;
    font-weight: bolder;
    margin: 0;
}
header h2 {
    color: darkmagenta;
    font-size: 18px;
    font-weight: bolder;
    margin: 0;
}
header i {
    font-size: 12px;
}

header img {
    width: 150px;
    height: auto;
}
header table {
    width: 100%;
    border-collapse: collapse;
}
header  td {
    text-align: left;
    
}

section {
    font-size: 14px;
}
section h2 {
    font-size: 18px;
    font-weight: bold;
}
section table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
}

section table, section th, section td {
    border: 1px solid black;
}

section th {
    background-color: darkmagenta;
    color: white;
    text-align: left;
    font-weight: bold;
    padding: 4px;
}

section td {
    text-align: left;
    padding: 4px;
}

footer {
    width: 100%;
    font-size: 14px;
    font-weight: 300;
}