<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ css_path }}">
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <table>
            <tbody>
                <tr>
                    <td>
                        <h1>{{ organisation.org_name }}</h1>
                        <h2>{{ report_title }}</h2>
                    </td>
                    <td style="text-align: right;"><img src="{{ logo_path }}" alt="Logo"></td>
                </tr>
                <tr>
                    <td></td>
                    <td style="text-align: right;"><i><strong>{{ author_full }}</strong></i></td>
                </tr>
            </tbody>
        </table>
    </header>
    <aside>
        <table>
            {% if search_filters %}
            
            <tbody>
                {% for key, value in search_filters.items() %}
                <tr>
                    <td>
                        <ul>
                            {% if key == 'Search Term' %}
                            <li><strong>{{ key }}: </strong>'{{ value }}'</li>

                            {% else %}
                            <li><strong>{{ key }}: </strong>{{ value }}</li>
                            {% endif %}
                            
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            
            {% endif %}
        </table>
       
    </aside>
    <section>
        <table>
            <thead>
                <tr style="border-bottom: 3px;">
                    <th>Payment #</th>
                    <th>Bill/Invoice #</th>
                    <th>Date</th>
                    <th>Type</th>
                    <th colspan="2">Description</th>
                    <th>Debit ({{ organisation.currency }})</th>
                    <th>Credit ({{ organisation.currency }})</th>
                </tr>
            </thead>
            <tbody>
                {% for payment in data.get('payments') %}
                    {% set col = loop.index %}
                    {% for entry in payment.get('journal_entries') %}
                    {% if loop.index == 1 %}
                    {%set first_entry = true %}
                    {% else %}
                    {%set first_entry = false %}

                    {% endif %}
                    <tr>
                        {% if first_entry %}
                            <td>{{ col }}</td>
                            <td>
                                {{payment.get('payment_data').get('serial_no')}}
                            </td>
                            <td >{{ payment.get('date') }}</td>
                            <td >{{ payment.get('payment_data').get('type').title() }}</td>
                        {% else %}
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        {% endif %}

                        
                            {% if entry.get('debit_credit') == "debit" %}
                                <td colspan="2">{{ entry.get('account_name') }}</td>
                            {% else %}
                                <td colspan="2" style="padding-left: 15px;">{{ entry.get('account_name') }}</td>
                            {% endif %}
                        
                        <td  style="text-align: right;">
                            {% if entry.get('debit_credit') == "debit" %}
                                {{ entry.get('amount') }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td  style="text-align: right;">
                            {% if entry.get('debit_credit') == "credit" %}
                                {{ entry.get('amount') }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    <tr style="border-bottom: 3px;">
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>

                        <td colspan="2"><i>({{ payment.get('description') }})</i></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                   
                {% endfor %}
                
                <tr style="font-weight: bold; text-decoration: underline; font-size: 16px; border-bottom: 3px;">
                    <td colspan="6" style="text-align: right;">Total</td>
                    <td  style="text-align: right;">{{ data.get('totals').get('debit_total') }}</td>
                    <td  style="text-align: right;">{{ data.get('totals').get('credit_total') }}</td>
                </tr>
            </tbody>
        </table>
    </section>
    <footer>
        <p>&copy; Generated by {{ user.first_name }} {{ user.last_name }} on {{ date }} at {{ time }}</p>
    </footer>
</body>
</html>
