<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ css_path }}">

    <title>{{ title }}</title>

    </style>
</head>
<body>

    <header>
        <table>
            <tbody>
                <tr>
                    <td>
                        <h1>{{ organisation.org_name }}</h1>
                        <h2>{{ report_title }}</h2>
                    </td>
                    <td style="text-align: right;"><img src="{{ logo_path }}" alt="Logo"></td>
                </tr>
                <tr>
                    <td></td>
                    <td style="text-align: right;"><i><strong>{{ author_full }}</strong></i></td>
                </tr>
            </tbody>
        </table>
    </header>
    
    <aside>
        <table>
            {% if sub_header_data %}
            <tbody>
                {% for pair in sub_header_data.items() | batch(2, '') %}
                <tr>
                    {% for key, value in pair %}
                    {% if key != '' %}
                    <td>
                        <span><strong>{{ key }}:</strong> {{ value }}</span>
                    </td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
            {% endif %}
        </table>
    </aside>

    <section>
        <table>
            <thead>
                <tr>
                    <th colspan="2">Description</th>
                    <th>Debit ({{ organisation.currency }})</th>
                    <th>Credit ({{ organisation.currency }})</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in data.get('journal_entries') %}
                
                <tr>
                        {% if entry.get('debit_credit') == "debit" %}
                            <td colspan="2">{{ entry.get('account_name') }}</td>
                        {% else %}
                            <td colspan="2" style="padding-left: 15px;">{{ entry.get('account_name') }}</td>
                        {% endif %}
                    
                    <td  style="text-align: right;">
                        {% if entry.get('debit_credit') == "debit" %}
                            {{ entry.get('amount') }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td  style="text-align: right;">
                        {% if entry.get('debit_credit') == "credit" %}
                            {{ entry.get('amount') }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="2"><i>({{ data.get('description')}})</i></td>
                    <td style='text-decoration: underline; text-align: right;'>{{ data.get("journal_entries_total").get("debit_total")}}</td>
                    <td style="text-decoration: underline; text-align: right;">{{ data.get("journal_entries_total").get("credit_total")}}</td>
                </tr>

                {% if sub_footer_data %}
                    
                    {% for key, value in sub_footer_data.items() %}
                    <tr>
                        <td style="text-align: right;" colspan="3">
                            {% if key == "Amount Due" %}
                                <strong style="font-size: 18px; text-decoration: underline; color: red;">{{ key }}</strong>
                            {% elif key == "Total" %}
                                <span style="text-decoration: underline;;">{{ key }}</span>
                            {% else %}
                                {{ key }}
                            {% endif %}
                        </td>
                        <td style="text-align: right;">
                            {% if key == "Amount Due" %}
                                <strong style="font-size: 18px; color: red; text-decoration: underline;">{{ value }}</strong>
                            {% elif key == "Total" %}
                                <strong style="text-decoration: underline;">{{ value }}</strong>
                            {% else %}
                                {{ value }}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </section>
  
    <footer>
        <p>&copy; Generated by {{ user.first_name }} {{ user.last_name }} on {{ date }} at {{ time }}</p>
    </footer>

</body>
</html>
