<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ css_path }}">

    <title>{{ title }}</title>

</head>

<body>

    <header>
        <table>
            <tbody>

                <tr>
                    <td>
                        <h1>{{ organisation.org_name }}</h1>
                        <h2>{{ report_title }}</h2>
                    </td>
                    <td style="text-align: right;"><img src="{{ logo_path }}" alt="Logo"></td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td style="text-align: right;"><i><strong>{{ author_full }}</strong></i></td>
                </tr>

            </tbody>
        </table>
    </header>
    <aside>
        <table>
            {% if search_filters %}

            <tbody>
                {% for key, value in search_filters.items() %}
                <tr>
                    <td>
                        <ul>
                            {% if key == 'Search Term' %}
                            <li><strong>{{ key }}: </strong>'{{ value }}'</li>

                            {% else %}
                            <li><strong>{{ key }}: </strong>{{ value }}</li>
                            {% endif %}

                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

            {% endif %}
        </table>
    </aside>
    <aside>
        <table>
            <tbody>
                <tr>
                    <td><span><strong>Name: </strong>{{ data.get('name')}}</span></td>
                    <td colspan="2"><span><strong>Details: </strong>{{ data.get('description')}}</span></td>
                    
                </tr>
            </tbody>
        </table>
    </aside>

    <section>
        <table>
            <thead>
                <tr>
                    <th>Service Income #</th>
                    <th>Date</th>
                    <th colspan="2">Details </th>
                    <th>Quantity</th>
                    <th>Rate ({{ organisation.currency }})</th>
                    <th>Total Amount ({{ organisation.currency }})</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in data.get('service_data').get('entries') %}
                
                <tr>
                    <td>
                        {% if entry.get('details').get('serial_number') %}
                        {{ entry.get('details').get('serial_number') }}
                        {% else %}
                        <span>-</span>
                        {% endif %}
                    <td>{{  entry.get('details').get('date') }}</td>
                    <td colspan="2">{{ entry.get('details').get('description')}} </td>

                    <td>
                        {% if entry.get('quantity') %}
                        {{ entry.get('quantity') }}
                        {% else %}
                        <span>-</span>
                        {% endif %}
                    </td>
                    <td style="text-align: right;">
                        {% if entry.get('price') %}
                        {{ entry.get('price') }}
                        {% else %}
                        <span>-</span>
                        {% endif %}
                    <td style="text-align: right;">
                        {% if entry.get('details').get('total')  %}
                        {{ entry.get('details').get('total')  }}
                        {% else %}
                        <span>-</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                <tr style="font-weight: bold; text-decoration: underline;">
                    <td colspan="6" style="text-align: right;">Total</td>
                    <td style="text-align: right;">{{ data.get('service_data').get('total') }}</td>
                </tr>
            </tbody>
        </table>
    </section>
    
    <footer>
        <p>&copy; Generated by {{ user.first_name }} {{ user.last_name }} on {{ date }} at {{ time }}</p>
    </footer>
</body>

</html>