<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ css_path }}">

    <title>{{ title }}</title>

</head>

<body>

    <header>
        <table>
            <tbody>

                <tr>
                    <td>
                        <h1>{{ organisation.org_name }}</h1>
                        <h2>{{ report_title }}</h2>
                    </td>
                    <td style="text-align: right;"><img src="{{ logo_path }}" alt="Logo"></td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td style="text-align: right;"><i><strong>{{ author_full }}</strong></i></td>
                </tr>

            </tbody>
        </table>
    </header>
    <aside>
        <table>
            {% if search_filters %}

            <tbody>
                {% for key, value in search_filters.items() %}
                <tr>
                    <td>
                        <ul>
                            {% if key == 'Search Term' %}
                            <li><strong>{{ key }}: </strong>'{{ value }}'</li>

                            {% else %}
                            <li><strong>{{ key }}: </strong>{{ value }}</li>
                            {% endif %}

                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

            {% endif %}
        </table>
    </aside>
    <aside>
        <table>
            <tbody>
                <tr>
                    <td><span><strong>Name: </strong>{{ data.get('name')}}</span></td>
                    <td><span><strong>Group: </strong>{{ data.get('group')}}</span></td>
                    <td><span><strong>Category: </strong>{{ data.get('category')}}</span></td>
                    <td><span><strong>Sub Category: </strong>{{ data.get('sub_category')}}</span></td>
                </tr>
            </tbody>
        </table>
    </aside>

    <section>
        <table>
            <thead>
                <tr>
                    <th>No #</th>
                    <th>Date</th>
                    <th>Type</th>
                    <th colspan="2">Details</th>
                    <th>Debit ({{ organisation.currency }})</th>
                    <th>Credit ({{ organisation.currency }})</th>
                </tr>
            </thead>
            <tbody>
                {% if data.get('account_data').get('entries')%}
                {% for entry in data.get('account_data').get('entries') %}
                
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ entry.get('date') }}</td>
                    <td>{{ entry.get('entry_type') }}</td>
                    <td colspan="2">{{ entry.get('description')}} </td>

                    {% if entry.get('debit_credit') == 'debit' %}
                    <td style="text-align: right;">{{ entry.get('amount') }}</td>
                    <td style="text-align: right;">-</td>
                    {% else %}
                    <td style="text-align: right;">-</td>
                    <td style="text-align: right;">{{ entry.get('amount') }}</td>
                    {% endif %}  
                </tr>
                {% endfor %}
                {% endif %}
                {% set totals = data.get('account_data').get('totals') %}

                {% if totals %}
                <tr style="font-weight: bold; text-decoration: underline;">
                    <td colspan="5" style="text-align: right;">Total</td>
                    <td style="text-align: right;">{{ totals.get('debit') }}</td>
                    <td style="text-align: right;">{{ totals.get('credit') }}</td>
                </tr>
                <tr style="text-decoration: underline; font-weight: bold;">
                    <td colspan="5" style="text-align: right;">Balance</td>
                    {% if totals.get('closing').get('debit_credit') == 'debit' %}
                    <td style="text-align: right;">{{ totals.get('closing').get('amount') }}</td>
                    <td style="text-align: right;">&nbsp;</td>
                    {% else %}
                    <td style="text-align: right;">&nbsp;</td>
                    <td style="text-align: right;">{{ totals.get('closing').get('amount') }}</td>
                    {% endif %}
                </tr>
                {% endif %}
            </tbody>
        </table>
    </section>
   
    <footer>
        <p>&copy; Generated by {{ user.first_name }} {{ user.last_name }} on {{ date }} at {{ time }}</p>
    </footer>
</body>

</html>