@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.show-small-screen-navbar {
  opacity: 1;
  transform-origin: top left;
  transform: translateX(0%);
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.decrease-maincontainer {
  width: calc(100vw - 17rem);
  margin-left: 17rem;
  transition: width 0.3s ease;
}
.maincontainer-height {
  height: calc(100vh - 80px);

}
.increase-maincontainer {
 width: calc(100vw - 40px);
 margin-left: 20px;
 transition: width 0.3s ease;
}
.increase-header {
  width: 100%;
  transition: width 0.3s ease, left 0.3s ease;
}
.decrease-header {
 left: 16rem;
 transition: left 0.3s ease, width 0.3s ease;
}

.hide-small-screen-navbar {
  opacity: 0;
  transform-origin: top left;
  transform: translateX(-100%);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.hide-header-dropdown {
  transform-origin: top right;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.5s ease, opacity .3s ease;
}
.show-header-dropdown {
  transform-origin: top right;
  transform: translateX(0%);
  opacity: 1;
  transition: transform 0.5s ease, opacity .3s ease;
}

.rotate-chevron-0 {
  transform: rotate(360deg);
  transition: transform 0.5s ease;
}

.rotate-chevron {
  transform: rotate(180deg);
  transition: transform 0.5s ease;
}
.drop-items-hidden {
  max-height: 0; /* Hide the element by collapsing its height */
  opacity: 0; /* Make the element invisible */
  overflow: hidden; /* Prevent content overflow */
  transition: max-height 0.5s ease, opacity 0.3s ease;
}

.drop-items-display {
  max-height: 500px; /* Adjust based on content height */
  opacity: 1; /* Make the element visible */
  transition: max-height 0.5s ease, opacity 0.3s ease;
}

.custom-scrollbar::-webkit-scrollbar {
	width: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
	background: #f97316; /* Tailwind orange-500 */
	border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background: #ea580c; /* Tailwind orange-600 */
  }
  
  /* For Firefox */
  .custom-scrollbar {
	scrollbar-width: thin;
	scrollbar-color: #f97316 #f1f1f1;
  }
  